.Favoritecoffee-slider {
    margin-top: 100px;
    max-width: 1368px;
}

.favoritecoffee-tittle {
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.5px;
    color: var(--col-textdark);
}