.footer {
    display: flex;
    background-color: var(--col-backcontainer);
    border-radius: 40px;
    padding-bottom: 116px;
}

.footer-one {
    margin-top: 54px;
    margin-right: 100px;
    margin-left: 100px;  
}

.footer-one-title {
    margin-top: 45px;
    width: 530px;
    font-size: 60px;
    color: var(--col-textlight);
    line-height: 72px;
    margin-bottom: 41px; 
}

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    max-width: 38%;
}


.social-part {
    border-radius: 100px;
    padding: 15px 15px;
    border: 1px solid var(--col-borderlight);
}

.social-part:nth-last-child(2) {
    margin-left: 10px;
}


.footer-two-title {
    color: var(--col-textlight);
    font-size: 24px;
    margin-top: 132px;
}

.info-list {
    list-style-type: none;
    color: var(--col-textlight);
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 38px;
    letter-spacing: 0.7px;
}

.info-item {
    display: flex;
}

.info-image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.info-item-txt {
    color: var(--col-textlight);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.2px;
}

.info-item:nth-child(2) {
    margin-top: 20px;
}

.info-item:nth-child(3) {
    margin-top: 20px;
}

@media (max-width: 768px) {

    .footer {
        flex-wrap: wrap;
        margin-top: -20px;
        padding-bottom: 105px;
    }

    .footer-one {
        margin-top: 60px;
        margin-left: 65px;
    }

    .fotter-two {
        margin-left: 60px;
        margin-top: -16px;
    }
}